.wrapper {
    max-width: 1200px;
    margin: 0 auto;  
}
header {
    margin-bottom: 72px;
}
.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}
.site-logo {
    display: inline-block;
    font-size: 30px;
    color: #95e1d3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.site-navigation {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    justify-content: space-between;
    display: flex;
    letter-spacing: 0px;
}
.site-navigation li:not(:last-child) {
    margin-right: 46px;
}
.site-navigation a {
    text-transform: uppercase;
    color: #95e1d3;
    padding-bottom: 12px;
    padding-top: 12px;
    transition: 200ms linear;
}
.site-navigation a:hover {
    color: #f38181;
    border-bottom: 3px solid #f38181;
}
/* a.site-logo:hover::first-letter{
    color: #f38181;
}
a.site-logo:hover span{
    color: #f38181;
} */
.services-header {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
}
.services-header span {
    font-size: 30px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
h2:after {
    display: block;
    margin: 44px auto;
    content: "";  
    height: 3px;
    background-color: #f38181;
    width: 60px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services div {
    display: block;
    position: relative;
    width: 400px;
    height: 96px;
    background-repeat: no-repeat;
    background-position: 5% 0%;
    margin-bottom: 80px;
    padding-left: 80px;
    margin-top: 20px;
}
.services h3 {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 400;
    text-transform: uppercase;
    
}
.photography {
    background-image: url('image1.png'); 
}
.web-design {
    background-image: url('image2.png');
}
.creativity {
    background-image: url('image3.png');
}
.seo {
    background-image: url('image4.png');
}
.css-html {
    background-image: url('image5.png');
}
.digital {
    background-image: url('image6.png');
}
.services div p {
    line-height: 24px;
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.header-block p{
    display: block;
    margin: auto;
    max-width: 1040px;
    /* height: 132px; */
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    /* padding-top: 52px; */
    /* align-items: center; */
    
}
.header-block {
    /* padding-top: 44px; */
    padding-bottom: 88px;
}
.member_card {
    display: inline-block;
    max-width: 378px;
    margin-bottom: 86px;
    text-align: center;
}
.member_card img {
    display: block;
    width: 100%;
    max-height: 468px;
}
.name {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    
    text-transform: uppercase;
    padding-top: 30px;
}
.who-we-are {
    margin: 0 auto;
}
.member_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.member_cards p {
    padding-top: 12px;
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* .Mattiew_Dix::before:hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

} */
.member-card-overlay {
    visibility: hidden;
    /* padding-left: 20%; */
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(240,226,144,0.8) 0%, rgba(233,138,137,0.8) 100%);
}
.member-card-overlay a{
    width: 56px;
    height: 56px;
}
a.space {
    border-right: #f38181 solid 1px;
}
a.facebook {
    background:  #fce38a url(facebook.png)  no-repeat center;
}

a.twitter {
    background:  #fce38a url(twitter.png) no-repeat center;
}
a.pinterest {
    background:  #fce38a url(pinterest.png) no-repeat center;
}
a.instagram {
    background:  #fce38a url(instagram.png) no-repeat center;
}
.image {
    position: relative;
    transition: 200ms linear;
}
.image:hover .member-card-overlay{
    visibility: visible;
}
.image:hover {
    box-shadow:
    10px 10px #95e1d3;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

.member-card-overlay a:hover {
    background-color: #95e1d3;
}
/* .space {
     
} */
footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: #cccccc solid 1px;
}
.footer-text {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 64px;
    /* vertical-align: middle; */
}
.signature {
    color: #f38181;
}
/* form {
    border: #cccccc solid 1px;
} */
input[type=submit] {
    position: block;
    text-transform: uppercase;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 38px;
    background-color: #95e1d3;
    border-color: #95e1d3;
}   
input[type="email"]::placeholder {
    color:#cccccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
}
input[type=email]{
    padding-left: 12px;
    border: #cccccc solid 1px;
    border-right: none;
    font-size: 15px;
    line-height: 36px;
    color:#999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}