@media (min-width: 748px) {
    /* .wrapper {
        padding-left: 44px;
        padding-right: 44px;
    } */
    h1.company-logo {
        text-align: left;
    }
    section.main-text{ 
        background-image: url("../css/images/VectorSmartObject_tablet.png");
    }
    header.header .row {
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 136px;
        align-items: center; 
    } 
    div.login-buttons {
        padding-bottom: 0;
        justify-content: flex-end;
    }
    p.main-subtitle {
        font-size: 24px;
        padding: 0 0 30px 0;
    }
    h2.main-title {
        font-size: 51px;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    a.main-title-link {
        padding: 12px 20px;
        margin-bottom: 228px;
    }
    .partner {
        margin-left: 8px;
        margin-right: 8px;
    }
    .partners {
        margin: 0 auto;
        display: flex;
        /* width: 492px; */
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
    }
    h2.partners-title {
        margin-bottom: 30px;
    }
    div.hunter-image::after, div.marsha-image::after, div.walker-image::after, div.hunters-image::after {
        left:136px;
    }
    div.hunter {
        order:-1;
    }
    div.walker {
        order: -1;
    }
}
@media (min-width: 1000px) {
    /* .partners {
        width: fit-content;
    } */
    div.partner {
        margin-left: 0;
        margin-right: 0;
    }
    div.hunter-image::after, div.marsha-image::after, div.walker-image::after, div.hunters-image::after {
        left:148px;
    }
}