.wrapper {
    width: 1170px;
    margin: 0 auto;
    
}
nav {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 30px;
    padding-right: 30px;
}
nav ul {
    height: 32px;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.site-logo {
    margin-right: 556px;
}
.site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}
.navigation-float:hover, h1:hover a {
    color: #1abc9c;
}
h1 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
nav ul li{
    margin-right: 30px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 11px;
    padding-top: 10px;
    color: #515151;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: right;
}
nav ul li:last-child {
    margin-right: 0px;
}
.navigation-float, .site-logo{
    float: left;
}
.slider {
    background: url(slider.png);
    margin-bottom: 102px;
    background-position: center;
    /* height: 600px; */
}
.opacity {
    height: 600px;
    position: relative;


    background: rgba(0, 0, 2, 0.52);

}
h2 {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 92px;
}
.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
    width: 746px;
    margin-left: -373px;
    /* margin-left: 212px;
    margin-right: 212px; */
    
}
h3 {
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    line-height: 82px;
}
h4 {
    text-align: left;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 82px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
}
.featured-products-item img {
    background-color: #e9f0fd;
}
.item-name, .item-price {
    float: left;
    text-transform: uppercase;
    background-color: #323232;
    height: 40px;
    padding-top: 4px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
}
p.item-name {
    padding-left: 14px;
    width: 200px;
    text-align: left;
}
p.item-price {
    width: 55px;
    text-align: center;
    opacity: 0.5;
}
.featured-products a {
    width: 255px;
    float: left;
    /* margin: 0; */
    margin-right: 30px;
   margin-bottom: 30px;
    /* padding: 0; */
}
.featured-products a:nth-child(4n){
    margin-right: 0px;
    /* width: 1110px; */
}
section.featured {
    padding-bottom: 102px;
}  

a.featured-products-item:hover p{
    background-color: #1abc9c;
}
