.wrapper {
    width: 1110px;
    margin: 0 auto;  
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
header {
    padding-top: 36px;
    padding-bottom: 36px;
}
nav ul {
    height: 32px;
}
.site-logo {
    display: inline-block;
}
.site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}
.navigation-float:hover, h1:hover a {
    color: #1abc9c;
}
.navigation-float a {
    text-transform: uppercase;
}
.main-header {
    float: left;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}
.site-navigation {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 11px;
    padding-top: 10px;
    color: #515151;
    font-family: "Open Sans";
    font-weight: 700;
}
.site-navigation li {  
    float: left;
}
.site-navigation li:not(:last-child) {
    margin-right: 30px;
}
.slider {
    background: url(slider.png) no-repeat top center;
    height: 600px;
    position: relative;
    margin: auto;
}

/* .opacity {
    height: 600px;
    position: relative;
    background: rgba(0, 0, 2, 0.52);
} */
.slider-text {
    position: absolute;
    top: 33%;
    transform: translateY(-33%);
    left: 50%;
    transform: translateX(-50%);
}
.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 2, 0.52);
}
.main-text-container {
    width: 744px;
    line-height: 82px;
    margin: 0 auto;
}
.main-text {
    position: relative;
}
.main-logo-text {
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
}
.main-logo-services {
    line-height: 48px;
    font-size: 24px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
}
.arrow-prev, .arrow-next {
    cursor: pointer;
    margin: 0 auto;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, 0.52);
    position: absolute;
    transform: translateY(-58%);
    font-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.arrow-prev {
    top: 60%; left: 0;
    background-image: url(left.png);
}
.arrow-next {
    top: 60%; right: 0;
    background-image: url(right.png);
}
.item {
    float: left;
}
.item:not(:last-child) {
    margin-right: 30px;
}
.item-image {
    position: relative;
}
.item-image img {
    display: block;
    /* width: 100%;
    height: 100%; */
}
.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}
.overlay-button {
    width: 166px;
    margin: auto;
    position: relative;
    top: 88px;
}
.overlay-button button {
    float: left;
    height: 48px; 
    border: 1px solid white;
    background-repeat: no-repeat;
    cursor: pointer;
}
.add-to-cart {
    background-position: 6% 50%;
    width: 164px;
    background-image: url(icon4.png);  
    text-align: right;
    color: white; 
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: "Open Sans";
    font-weight: 400;
    padding-right: 12px;
    padding-top: 4px;
    margin-top: 6px;
}
.heart {
    background-position: center;
    width: 48px;
    background-image: url(icon1.png);
    margin-right: 10px;
}
.arrows {
    background-position: center;
    width: 48px;
    background-image: url(icon2.png);
    margin-right: 10px;
}
.clock {
    background-position: center;
    width: 48px;
    background-image: url(icon3.png);
}

.item-name, .item-price {
    float: left;
    text-transform: uppercase;
    height: 40px;
    padding-top: 4px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
}
.post {
    background-color: #323232;
}
.item-name {
    padding-left: 14px;
    width: 200px;
    text-align: left;
}
.item-price {
    float: right;
    width: 55px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.item:hover .overlay {
    opacity: 1;
}
.item:hover .post{
    background-color: #1abc9c;
}
.overlay-button button:not(:last-child):hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
.overlay-button button:last-child:hover {
    background-color: #323232;
}
.new-collection-header:after {
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    content: "";  
    height: 8px;
    background-color: #1abc9c;
    transition: width .3s ease-in-out;
    width: 164px;
}
.new-collection-header {
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 92px;
    padding-top: 102px;
}
.new-collection {
    padding-bottom: 100px;
    background-color: #e9f0fd;
}
footer {
    height: 88px;
    background-color: #323232;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 88px;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    vertical-align: baseline;
}
.last-word {
    color: #1abc9c;
}