.wrapper {
    width: 1110px;
    margin: 0 auto;  
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
nav {
    padding-top: 36px;
    padding-bottom: 36px;
}
nav ul {
    height: 32px;
}
.site-logo {
    display: inline-block;
}
.site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}
.navigation-float:hover, h1:hover a {
    color: #1abc9c;
}
h1 {
    display: inline-block;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}
.site-navigation {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 11px;
    padding-top: 10px;
    color: #515151;
    font-family: "Open Sans";
    font-weight: 700;
}
.site-navigation li {  
    float: left;
}
.site-navigation li:not(:last-child) {
    margin-right: 30px;
}
.slider {
    background: url(slider.png);
    background-position: center;
    height: 600px;
    position: relative;
    margin: auto;
}
/* .opacity {
    height: 600px;
    position: relative;
    background: rgba(0, 0, 2, 0.52);
} */
.slider-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:50%; margin-left:-555px;
}
.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 2, 0.52);
}
h2 {
    width: 760px;
    margin: 0 auto;
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    line-height: 82px;
}
h3 {
    width: 760px;
    margin: 0 auto;
    text-align: left;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 82px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
}
.arrow-prev, .arrow-next {
    cursor: pointer;
    margin: 0 auto;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, 0.52);
    position: absolute;
    transform: translateY(-58%);
    font-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.arrow-prev {
    top: 50%; left: 0;
    background-image: url(left.png);
}
.arrow-next {
    top: 50%; right: 0;
    background-image: url(right.png);
}
.item {
    float: left;
    width: 255px;
}
.item:not(:last-child) {
    margin-right: 30px;
}
.item-image {
    position: relative;
    height: 282px;
}
.item-image img {
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}
.overlay-button {
    width: 166px;
    height: 106px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.overlay-button button {
    float: left;
    height: 48px; 
    border: 1px solid white;
    background-repeat: no-repeat;
    cursor: pointer;
}
.add-to-cart {
    background-position: 6% 50%;
    margin-top: 8px;
    width: 164px;
    background-image: url(icon4.png);  
    text-align: right;
    color: white; 
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: "Open Sans";
    font-weight: 400;
    padding-right: 12px;
    padding-top: 6px;
}
.heart {
    background-position: center;
    width: 48px;
    background-image: url(icon1.png);
    margin-right: 10px;
}
.arrows {
    background-position: center;
    width: 48px;
    background-image: url(icon2.png);
    margin-right: 10px;
}
.clock {
    background-position: center;
    width: 48px;
    background-image: url(icon3.png);
}
.item-name, .item-price {
    float: left;
    text-transform: uppercase;
    background-color: #323232;
    height: 40px;
    padding-top: 4px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
}
p.item-name {
    padding-left: 14px;
    width: 200px;
    text-align: left;
}
p.item-price {
    width: 55px;
    text-align: center;
    opacity: 0.5;
}
.item:hover p{
    background-color: #1abc9c;
    cursor: pointer;
}
.item:hover .overlay {
    opacity: 1;
}
.overlay-button button:not(:last-child):hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
.overlay-button button:last-child:hover {
    background-color: #323232;
}
h4:after {
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    content: "";  
    height: 8px;
    background-color: #1abc9c;
    transition: width .3s ease-in-out;
    width: 164px;
}
h4 {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto";
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 92px;
    padding-top: 102px;
}
.new-collection {
    padding-bottom: 100px;
    background-color: #e9f0fd;
}
.footer {
    height: 88px;
    background-color: #323232;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 88px;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    vertical-align: baseline;
}
.last-word {
    color: #1abc9c;
}